@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

.section {
    min-height: 100vh;
}

.section-head {
    background-color: #d1e8cb;
    display: flex;
    flex-direction: row;
}

.section-partition {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.logo {
    background-image: url('./LoginPage.PNG');
    height: 100vh;
}

.login-section {
    height: 50vh;
    width: 50vh;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    font-family: 'Orelega One', cursive;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-evenly;
}

.login-section > input {
    font-family: 'Orelega One', cursive;
}

.login-section-header {
    margin-top: 20px;
}

.login-section-header h3 {
    color: black;
    font-size: x-large;
    font-family: 'Orelega One', cursive;
}

.login-section > input:focus {
    outline: none;
}

.quote-section {
    color: black;
    font-family: 'Orelega One', cursive;
    align-content: center;
}

body::-webkit-scrollbar {
    display: none;
  }